<footer class="site-footer">


<div class="container">
  <div class="float-left">
    <a href="{{ site.baseurl }}/" class="tooltips title-font">
      Nic West
      <span>home</span>
    </a>
  </div>
  <div class="float-right">
    <a href="#" class="tooltips">
      <i class="fa fa-map-marker"></i>
      <span>London</span>
    </a>
    <a href="#" class="tooltips">
      <i class="fa fa-code"></i>
      <span>python<br />vimscript<br />(clojure)</span>
    </a>
    <a href="http://weareleto.com" class="tooltips" target="_blank">
      <i class="fa fa-briefcase"></i>
      <span>junior&nbsp;web&nbsp;developer<br />@letolab</span>
    </a>
    |&nbsp;&nbsp;
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="tooltips">
      <i class="fa fa-rss"></i>
      <span>feed</span>
    </a>
    <a href="https://twitter.com/{{site.twitter_username}}" class="tooltips" target="_blank">
      <i class="fa fa-twitter"></i>
      <span>@{{site.twitter_username}}</span>
    </a>
    <a href="https://github.com/{{site.github_username}}" class="tooltips" target="_blank">
      <i class="fa fa-github"></i>
      <span>github</span>
    </a>
  </div>
  <div class="clear-both"></div>
</div>
</footer>
