<div class="keyboards">
  <div class="ergo ergo1">
    <a href="/imgs/ergodox1.jpg">
      <img src="/imgs/ergodox1.jpg" />
    </a>
  </div>
  <div class="ergo ergo2">
    <a href="/imgs/ergodox2.jpg">
      <img src="/imgs/ergodox2.jpg" />
    </a>
  </div>
  <div class="ergo plank">
    <a href="/imgs/plank.jpg">
      <img src="/imgs/plank.jpg" />
    </a>
  </div>
  <div class="ergo varmilio">
    <a href="/imgs/varmilio.jpg">
      <img src="/imgs/varmilio.jpg" />
    </a>
  </div>
</div>
<br />
